.button__load {
  display: block;
  margin: 20px auto;
  padding: 15px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: rgb(37, 37, 173);
  color: white;
  cursor: pointer;
}
.button__load:hover {
  background-color: blue;
}
